button {
  border: none;
  font-weight: bold;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

main {
  padding: 10px 2.5% !important;
}

.header_logo {
  background-color: red;
  padding: 16px 10px;
}

.newsweek_logo {
  color: white;
  fill: white;
}

.buttons_signin {
  display: flex;
  justify-content: flex-end;
}

.gray_white_block {
  background: gray;
  color: white;
}

.white_red_block {
  background:white;
  color: red;
}

.red_white_block {
  background: red;
  color: white;
}

.gray_red_block {
  background-color: aliceblue;
  color: red;
}

.text_date {
  font-size: 14px;
  font-weight: 100;
  color: white;
}

.black_red_link {
  color: black;
}

.black_red_link:hover {
  color: red;
  text-decoration: none;
}

header .main_nav {
  width: 92%;
  padding: 15px 0px;
}

header .main_nav ul li a{
  font-weight: bold;
  color: black;
  font-size: 18px;
}

header .main_nav ul li {
  border-left: 1px solid rgba(146, 146, 146, 0.493);
}

header .main_nav ul li:last-child {
  border: none;
  position: relative;
}

header .main_nav ul li:last-child a {
  font-size: 15px;
  font-weight: 300;
}

header .main_nav ul li:last-child span {
  position: absolute;
  right: -10px;
  top: 4px;
  display: inline-block;
  width: 18px;
  height: 18px;
}

.search_icon {
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
}

.nav-search {
  position: relative;
}

#right_half_wing {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  border-top: 15px solid red;
  border-left: 14px solid white;
  width: 84px;
  height: 15px;
}

.align-flex-start {
  align-items: flex-start;
}

.featured_article img {
  width: 100%;
  height: auto;
}

.featured_article h3 {
  font-weight: bold;
  font-size: 19px;
  margin-top: 8px;
  /* line-height: 23px; */
}

.featured_article p {
  font-size: 14px;
}

.red_underline_link {
  color: black;
}

.red_underline_link:hover {
  text-decoration: underline red;
  color: black;
}

.opinion_articles {
  margin-bottom: 20px;
}

.opinion_articles article .opinion_info {
  margin-left: -20px;
}

.opinion_articles article .opinion_info h4 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0;
}

.opinion_articles article .opinion_info span {
  font-size: 12px;
  color: gray;
  font-weight: bold;
  display: inline-block;
  line-height: 20px;
  margin-top: 3px;
}

.vertical_articles_bot_bordered li {
  border-bottom: 1px solid rgba(117, 117, 117, 0.534);
  padding: 10px 0;
}

.vertical_articles_bot_bordered li:first-child {
  padding: 0 0 10px 0;
}

.vertical_articles_bot_bordered li:last-child {
  border: none;
}

.main_aside {
  padding-left: 40px;
  top: calc(-136%);
}

.featured_topic {
  color: rgb(156, 156, 156);
  font-size: 14px;
  display: block;
  text-transform: uppercase;
  margin-bottom: 7px;
  font-weight: bold;
}

.l_b_topic_tag {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  padding: 9px;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.85;
}

.main_wrapper {
  padding-right: 0;
}

.following_article {
  padding: 2px 0;
  border-top: 1px solid rgba(128, 128, 128, 0.527);
  border-bottom: 1px solid rgba(128, 128, 128, 0.527);
}

.following_article h3{
  font-size: 15px;
}

.latest_news h4 {
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  margin-left: -20px;
}

.signup_wrapper {
  padding: 20px;
}

.signup_newsletter {
  padding: 20px;
  border: 1px solid rgba(172, 172, 172, 0.432);
  background-color: rgba(228, 228, 228, 0.397);
}

.signup_newsletter h4 {
  font-size: 16px;
  font-weight: bold;
}

.nl_logo{
  display: inline-block;
  background: url('https://g.newsweek.com/www/images/logo-n1.svg') center/contain no-repeat #f72210;
  width: 30px;
  height: 30px;
}

.signup_newsletter .nl_header_wrapper {
  margin-bottom: 10px;
}

.signup_newsletter button {
  padding: 10px;
}

.signup_newsletter button:hover {
  opacity: 0.8;
}

.nl_header_wrapper {
  align-items: center;
}

.signup_newsletter .cta {
  font-size: 13px;
  color: rgb(44, 44, 44);
  font-weight: 800;
  display: block;
  margin-top: 7px;
}

.featured_stories {
  top: calc(-130% );
}

.culture_travel {
  background-color: #f4f5f7;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
}

.culture_travel .info_wrapper {
  padding: 10px;
}

.culture_travel .info_wrapper h3 {
  font-size: 20px;
  font-weight: 300;
}

.culture_travel .info_wrapper p {
  font-size: 14px;
  opacity: 0.64;
  line-height: 18px;
} 

.culture_travel .info_wrapper .tag {
  display: inline-block;
  background: rgb(184, 214, 240);
  padding: 3px;
  color: gray;
  font-size: 12px;
  font-weight: 300;
}

.more_stories article h4{
  font-size: 14px;
  font-weight: bold;
}

.more_stories article p{
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 10px;
}

.m-l-m-20 {
  margin-left: -20px;
}

.border-bottom {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.616);
}

.more_stories ul li {
  padding-top: 10px;
}

.more_stories ul li:first-child {
  padding-top: 10px;
}

.section_title {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 25px 0;
}

.section_title h2 {
  margin: 0 8px;
  font-size: 18px;
  font-weight: bold;
}

.articles_wrapper {
  padding-top: 20px;
}

.in_the_mag {
  margin-top: 40px;
}

.see_all_link {
  display: block;
  padding: 8px 0;
  text-align: center;
  font-weight: 800;
  font-size: 17px;
}

.see_all_link:hover {
  background-color: #d8d8d8;
}

.in_the_mag .articles_wrapper .tags {
  margin-top: 9px;
}

.in_the_mag .articles_wrapper .tags span{
  font-weight: bold;
  padding: 4px 7px;
}

.in_the_mag .articles_wrapper h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 7px;
}

.in_the_mag .section_title {
  padding-top: 0;
  padding-bottom: 10px;
  margin-top: -20px;
}

.in_the_mag .articles_wrapper article img {
  object-fit: cover;
  height: 250px;
}

.conversations .red_underline_link {
  color: white;
}

.conversations  .main_about {
  padding: 25px;
}

.conversations  .main_about h4 {
  font-size: 22px;
  line-height: 28px;
}

.conversations  .main_about p {
  opacity: 0.7;
  font-size: 14px;
}

.conversations  .main_about span {
  opacity: 0.5;
}

.conversations .main_wrapper {
  color: white !important;
  background: black;
}

.conversations .img-fluid {
  width: 100%;
}

.play_button {
  background-color: red;
  width: 50px;
  height: 50px;
  opacity: 1;
}

.more_conversations h4 {
  font-size: 15px;
  font-weight: bold;
}

.more_conversations img {
  height: 100%;
}

.more_conversations span {
  opacity: 0.6;
}


.more_conversations .play_button {
  opacity: 1;
  width: 35px;
  height: 35px;
}

.object-fit-cover {
  object-fit: cover;
}

.conversations .main_conversation img {
  height: 100%;
}